body{
	color: white;

}

header{
background-color: red;


}

img {
width: 300px;
}

.profile-pic{
	border-radius: 50%;

}

.rotateimg90 {
	/*
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
*/
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
	background-color: black;
}
header{
	  margin: auto;
  width: 80%;
  padding: 10px;
}
.bad-style{

	color:pink;
	background-color: green;

}

a {
	color:white;
}
